@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

html, body, #root {
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    font-family: 'Poppins';
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}
